@model WebApplication1.Models.ContactViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.SelectedContactType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedContactType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

       <dt>
            @Html.DisplayNameFor(model => model.Eadd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eadd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
