@model WebApplication1.Models.PersonalInfo

@{
    ViewBag.Title = "Add New Contact";
}
<h4>Add New Contact</h4>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <table class=" table table-bordered">
            <tr><td>
                    <h4>Personal Details</h4>
                    <div class="form-group">
                        @Html.LabelFor(model => model.lastName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.lastName)
                            @Html.ValidationMessageFor(model => model.lastName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.firstName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.firstName)
                            @Html.ValidationMessageFor(model => model.firstName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.middleName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.middleName)
                            @Html.ValidationMessageFor(model => model.middleName)
                        </div>
                    </div>
                
                    <div class="form-group">
                        @Html.LabelFor(model => model.Birthdate, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Birthdate)
                            @Html.ValidationMessageFor(model => model.Birthdate)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Address)
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Company, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Company)
                            @Html.ValidationMessageFor(model => model.Company)
                        </div>
                    </div>
                </td>

            </tr>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
